<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607855501574-9ndk88n8fufgguv1epbi7fc1l2a52pia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607855501574-9ndk88n8fufgguv1epbi7fc1l2a52pia</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJ4gGHmROmrfdbcE564REKODQG18g-HI</string>
	<key>GCM_SENDER_ID</key>
	<string>607855501574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>website.siddpanchal.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-vandad-youtube</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-vandad-youtube.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607855501574:ios:f3d696075a2f3477e3fe87</string>
</dict>
</plist>